In [ ]:
l1=[1,2,3,4]

In [ ]:
l2=[]
for i in l1:
    l2.append(i**2)
print(l2)

[1, 4, 9, 16]

In [ ]:
#DAY 2
#copy, difference, intersection, symetric_difference, union, issuperset, issubset, isdisjoint

In [ ]:
#Example Sets
set1 = {1, 2, 3, 4, 5,7,8}
set2 = {4, 5, 6, 7,10,71}

In [ ]:
# Copy
set1_copy = set1.copy()
print("Copy:", set1_copy)

Copy: {1, 2, 3, 4, 5, 7, 8}

In [ ]:
# Difference
difference_set = set1 - set2
print("Difference:", difference_set)

Difference: {8, 1, 2, 3}

In [ ]:

# Intersection
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {4, 5, 7}

In [ ]:
# Symmetric Difference
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)

Symmetric Difference: {1, 2, 3, 6, 71, 8, 10}

In [ ]:
# Union
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 71, 10}

In [ ]:
# Is Superset
is_superset = set1.issuperset(set2)
print("Is Superset:", is_superset)

Is Superset: False

In [ ]:
# Is Subset
is_subset = set1.issubset(set2)
print("Is Subset:", is_subset)

Is Subset: False

In [ ]:
# Is Disjoint
is_disjoint = set1.isdisjoint(set2)
print("Is Disjoint:", is_disjoint)

Is Disjoint: False

In [8]:
#DAY 3

my_list =["apple","banana","orange"]

my_dictionary = {}
for i, x in enumerate(my_list):
  my_dictionary[i] = x
print(my_dictionary)

{0: 'apple', 1: 'banana', 2: 'orange'}